.animation
{
   animation-name: animff;
   animation-timing-function: ease-in;
   animation-iteration-count: 1;
   animation-duration: 1s;
 
}
@keyframes animff {
  0%
  {
    width: 17.5rem;
    height: auto;
    opacity: 0;
  }
  100%
  {
    width: 18rem;
    height: auto;
    opacity: 1;
  }
   
    
}